### Install what's necessary

In [9]:
!pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector-python in /home/af/.local/lib/python3.10/site-packages (8.1.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in /home/af/.local/lib/python3.10/site-packages (from mysql-connector-python) (4.21.12)

### Check the DB connection works as expected

In [4]:
import mysql.connector as connector

In [15]:
connection = connector.connect(user = "little_lemon", password = "temp 123", db = 'LittleLemonDB')
cursor = connection.cursor()

### Check tables

In [17]:
show_tables_query = "SHOW tables" 
cursor.execute(show_tables_query)
for row in cursor.fetchall():
    print(row[0])

Bookings
CustomerDetails
MenuItems
Menus
OrderDeliveryStatus
Orders
Staff

### Details about customers with at least one order priced about $60

In [25]:
select_query = """
select concat(FirstName, ' ', LastName) as Name, PhoneNumber
from Orders
inner join Bookings
using (BookingID)
inner join CustomerDetails
using (CustomerID)
where TotalCost > 60
"""
cursor.execute(select_query)
cols = cursor.column_names
print(cols[0].ljust(20), cols[1])

for row in cursor.fetchall():
    print(row[0].ljust(20), row[1])

Name                 PhoneNumber
Anna Iversen         89798789
Joakim Iversen       231313
Hiroki Yamane        945652